@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

body {
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section.phone-wallpaper {
    height: 580px;
    display: block;
    position: relative;
    margin-top: 20px;
}

section.phone-wallpaper img {
    height: 100%;
    margin: 0;
}

section.login {
    width: 350px;
    padding: 10px 40px;
    margin: 20px 0 0 0;
}

.logo {
    width: 175px;
    height: 50px;
    margin: 40px auto;
    cursor: pointer;
}

.logo > i {
    background-image: url("https://static.cdninstagram.com/rsrc.php/v3/yK/r/ATdtiLb2BQ9.png");
    background-position: 0px 0px;
    background-size: 176px 181px;
    width: 175px;
    height: 51px;
    background-repeat: no-repeat;
    display: inline-block;
}

section.login > form {
    display: flex;
    flex-direction: column;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    padding:  20px;
}

input[type="text"], input[type="password"] {
    height: 35px;
    border: 1px solid #dbdbdb;
    margin: 5px 0;
    background: #fafafa;
    border-radius: 3px;
    padding-left: 10px;
}

button {
    border-radius: 3px;
    height: 30px;
}

.login-btn {
    background: #68B5FA;
    border: none;
    color: #fff;
    border-radius: 7px;
    margin: 12px 0;
    font-weight: 700;
}

.other-options {
    display: flex;
    flex-direction: row;
    margin: 23px 0 32px 0;
    justify-content:center;
}

.other-options > .line {
    width: 42%;
    height: .5px;
    background: #dbdbdb;
    border: .1px solid #dbdbdb;
}

.other-options > .or {
    line-height: 5px;
    font-weight: 700;
    font-size: 14px;
    color: gray;
    padding: 0 10px;
}

a.facebook-login {
    text-align: center;
    text-decoration: none;
    color: #385185;
    font-weight: 500;
    font-size: 14px;
}

a.forgot-pwd {
    color: #02376B;
    text-decoration: none;
    text-align: center;
    margin-top: 25px;
    font-size: 12px;
}

p.no-account {
    font-size: 14px;
    text-align: center;
}

p.no-account span {
    color: #1096F6;
    font-weight: 500;
}

.get-app {
    margin-top: 50px;
    text-align: center;
    font-size: 14px;
}

.app-downloads {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}

.app-downloads a img {
    width: 100px;
    height: 40px;
} 

.app-downloads {
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}

.app-downloads a img {
    width: 140px;
}

.logo {
    margin-top: 10px;
}

p.no-account {
    border: 1px solid #dbdbdb;
    padding: 20px 0;
    margin-top: 15px;
    border-radius: 3px;
}

.get-app {
    margin-top: 20px;
}

section.phone-wallpaper > img.slide {
    width: 250px;
    position: absolute;
    right: 19px;
    top: 27px;
    height: 540px;
}

footer {
    margin: 0;
    padding-top: 50px;
}

footer > ul.links {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

ul.links > li > a {
    text-decoration: none;
    color: #9d9d9d;
    font-size: 12px;
}

footer > .credits > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    font-size: 12px;
    color: #9d9d9d;
    width: 100%;
    justify-content: center;
}

footer > .credits > div > select {
    margin-right: 10px;
    border: none;
    color: #B3B3B3;
    padding-right: 0;
}

/* Mobile view */
@media only screen and (max-width: 450px) {
    section.login {
        padding: 0;
    }

    section.phone-wallpaper {
        display: none;
    }

    .app-downloads a img {
        width: 120px;
    }

    section.login>form,
    p.no-account {
        border: none;
    }
}

/* Small screen */
@media only screen and (min-width: 451px) and (max-width: 875px) {
    section.login {
        padding: 5px;
    }

    section.phone-wallpaper {
        display: none;
    }

    .login > form {
        border: 1px solid #dbdbdb;
        padding: 40px;
    }

    p.no-account {
        border: 1px solid #dbdbdb;
        padding: 25px;
    }

    .app-downloads {
        width: 80%;
        margin: 0 auto;
        margin-top: 10px;
    }
}
